.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-arrow {
  position: relative;
  width: 50vw;
  height: 50vh;
  /* border: 1px solid; */
  display: flex;
  align-items: baseline;
}
