.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-straight-arrow {
  position: relative;
  width: 50vw;
  height: 50vh;
  border: 1px solid;
  display: flex;
  align-items: baseline;
}

.svg-curved-arrow {
  position: relative;
  width: 50vw;
  height: 50vh;
  border: 1px solid;
  display: flex;
  align-items: baseline;
}

.svg-bracket {
  position: relative;
  flex: 0.5;
  /* border: 1px solid; */
  display: flex;
  align-items: baseline;
}
